<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="corpo">
        <div class="container p-0">
            <div class="row g-3">
                <div class="col-sm-9">
                    <div th:class="${#strings.isEmpty(message)} ? 'p-0 m-0 border-0' : 'alert alert-dark text-warning bg-dark'" th:text="${message}"></div>
                    <div th:class="${#strings.isEmpty(msg)} ? 'p-0 m-0 border-0' : 'alert alert-success text-success bg-dark'" th:text="${msg}"></div>
                    <div th:if="${!listaNoticias.empty}" style="background: #343a40;" class="container px-3 py-3 shadow rounded">
                        <div class="row row-cols-sm-1 row-cols-md-4 g-3">
                            <div class="py-0" th:each="noticia : ${listaNoticias}">
                                <div class="col-sm-12 d-flex flex-column rounded p-3 text-white"
                                     style="background: #212529; height: 100%">
                                    <div class="mb-auto">
                                        <h2 th:text="${noticia.titulo}"></h2>
                                        <h6 class="text-white-50" th:text="${noticia.categoria.nome}"></h6>
                                        <hr>
                                        <p th:text="${noticia.conteudo}"/>
                                    </div>
                                    <div class="w-100">
                                        <hr>
                                        <a class="link-primary mx-4 text-decoration-none" th:href="@{/noticia/editar/{id}(id=${noticia.id})}">Editar</a>
                                        <a class="link-danger text-decoration-none" th:href="@{/noticia/remover/{id}(id=${noticia.id})}">Remover</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div style="background: #343a40;" class="container px-3 py-3 shadow rounded">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="rounded p-3 mb-3" style="background: #212529;">
                                    <h3 class="text-white title">Buscar</h3>
                                    <form th:action="@{/noticia/todos}" method="get">
                                        <div class="input-group">
                                            <input class="form-control" name="busca" th:value="${busca}" type="search" placeholder="Pesquisar">
                                            <button type="submit" class="btn btn-outline-primary">Buscar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="rounded p-3" style="background: #212529;">
                                    <h3 class="text-white title">Categorias</h3>
                                    <hr class="text-white">
                                    <div class="mt-2" th:if="${!listaCategorias.empty}" th:each="cat : ${listaCategorias}">
                                        <a class="link-info" th:text="${cat.nome}" th:href="@{/noticia/buscar/{id}(id=${cat.id})}"></a>
                                    </div>
                                    <div th:if="${listaCategorias.empty}">
                                        <p class="link-warning mb-0">Nenhuma categoria.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</html>